
body {
	width: 900px;
	margin: 0 auto;
}

.modal-card-title {
	font-weight: bold;
}

.chat {
	padding-top: 0;
}

.chat .reset {
	float: right;
	position: relative;
	top: -16px;
	cursor: pointer;
}

.chat .header .thumbnail {
	float: left;
	height: 64px;
	margin-right: 16px;
}

.chat .header .title {
	font-size: 1.25rem;
	font-weight: bold;
	padding-top: 20px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.chat .prompt {
	display: flex;
}

.chat input {
	width: 702px;
}

.chat button.configure {
	margin-left: 8px;
}

.chat .discussion {
	width: 810px;
	height: 500px;
	overflow-y: scroll;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 8px;
	padding: 16px;
}

.message {
	background-color: transparent;
	margin-bottom: 32px !important;
}

.message .avatar {
	float: left;
	margin-right: 16px;
}

.message .avatar img {
	width: 32px;
	height: 32px;
	border-radius: 16px;
}

.message > *:not(.avatar):not(.action) {
	margin-left: 48px;
}

.message .header {
	background-color: transparent;
	margin-bottom: 4px;
	font-size: 1rem;
	font-weight: bold;
}

.message .action {
	float: right;
	cursor: pointer;
	margin-right: 4px;
}

.message .body {
	white-space: pre-wrap;
}

.message .sources {
	margin-top: 8px;
}

.message .sources ul {
	list-style: inside;
}

.code {
	white-space: pre-wrap;
}

.chain {

}

.step {
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 13px;
}

.step .header {
	border: 1px solid black;
	border-radius: 4px;
	padding: 8px;
	cursor: pointer;
	color: #202020;
}

/* from https://creativemarket.com/FemDemirsoy/10222090-Color-Palette-Procreate-Illustrator */

.step.chain .header {
	background-color: rgba(140,64,52,5%);
	border-color: rgba(140,64,52,50%);
}

.step.llm .header {
	background-color: rgba(66,142,199,5%);
	border-color: rgba(66,142,199,50%);
}

.step.retriever .header {
	background-color: rgba(78,103,92,5%);
	border-color: rgba(78,103,92,50%);
}

.step .header .performance {
	float: right;
	text-align: right;
	margin-left: 8px;
	font-style: italic;
}

.step .header .title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0;
}

.step.chain .header .title {
	color: rgba(140,64,52,100%);
}

.step.llm .header .title {
	color: rgba(66,142,199,100%);	
}

.step.retriever .header .title {
	color: rgba(78,103,92,100%);
}


.step .header * {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.evaluation th, .evaluation td {
	padding: 2px 8px;
}

.evaluation .criteria {
	text-align: right;
}
